@layer {
  .pc-header {
    @apply bg-theme-headerbg dark:bg-themedark-headerbg text-theme-headercolor dark:text-themedark-headercolor fixed z-[1025] flex h-[var(--spacing-header-height)] backdrop-blur-[7px] transition-all duration-200 ease-in-out ltr:right-0 ltr:max-lg:left-0 ltr:lg:left-[var(--spacing-sidebar-width)] rtl:left-0 rtl:max-lg:right-0 rtl:lg:right-[var(--spacing-sidebar-width)];
  }

  .pc-header .pc-head-link {
    @apply text-theme-headercolor dark:text-themedark-headercolor after:bg-theme-activebg dark:after:bg-themedark-activebg relative mx-1 flex h-11 w-11 items-center justify-center rounded-lg after:absolute after:inset-0 after:z-[1] after:scale-0 after:rounded-full after:transition after:!content-[""] hover:after:scale-100 hover:after:rounded;
  }

  .pc-header .pc-head-link i,
  .pc-header .pc-head-link svg,
  .pc-header .pc-head-link img {
    @apply relative z-[5] transition;
  }

  .pc-header .pc-head-link i {
    @apply text-2xl leading-none;
  }

  .pc-header .pc-head-link svg {
    @apply h-5 w-5;
  }

  .pc-header .pc-head-link:hover i,
  .pc-header .pc-head-link:hover svg {
    @apply scale-[1.08];
  }

  /* Dropdown positioning for mobile */
  .pc-header .pc-h-item.dropdown {
    @apply max-sm:static;
  }

  .pc-header .pc-h-item.dropdown .dropdown-menu {
    @apply max-w-full max-sm:!top-full max-sm:!right-[15px] max-sm:!left-[15px] max-sm:min-w-[calc(100vw_-_30px)];
  }

  .pc-header .pc-h-item.dropdown .dropdown-menu:not(.dropdown-menu-end) {
    @apply rtl:!right-0 rtl:!left-auto;
  }

  .pc-header .pc-h-item.dropdown.drp-show .dropdown-menu {
    @apply max-sm:!transform-none;
  }

  /* Search dropdown */
  .pc-header .dropdown-menu.drp-search {
    @apply sm:min-w-[320px];
  }

  /* Notifications dropdown */
  .pc-header .dropdown-menu.dropdown-notification {
    @apply sm:min-w-[450px];
  }

  .pc-header .dropdown-menu.dropdown-notification .card {
    @apply hover:bg-primary-500/[.05] cursor-pointer shadow-none;
  }

  /* User profile dropdown */
  .pc-header .dropdown-menu.dropdown-user-profile {
    @apply p-0 sm:min-w-[290px];
  }

  .pc-header .dropdown-user-profile .dropdown-item {
    @apply flex items-center justify-between rounded;
  }
  [data-pc-header*='preset-'] .pc-header .pc-head-link {
    @apply dark:text-themedark-headercolor text-white after:bg-white/10;
  }
  [data-pc-header='preset-1'] .pc-header {
    @apply bg-primary-500;
  }
  [data-pc-header='preset-2'] .pc-header {
    @apply bg-red-500;
  }
  [data-pc-header='preset-3'] .pc-header {
    @apply bg-orange-500;
  }
  [data-pc-header='preset-4'] .pc-header {
    @apply bg-amber-500;
  }
  [data-pc-header='preset-5'] .pc-header {
    @apply bg-yellow-500;
  }
  [data-pc-header='preset-6'] .pc-header {
    @apply bg-lime-500;
  }
  [data-pc-header='preset-7'] .pc-header {
    @apply bg-green-500;
  }
  [data-pc-header='preset-8'] .pc-header {
    @apply bg-emerald-500;
  }
  [data-pc-header='preset-9'] .pc-header {
    @apply bg-teal-500;
  }
  [data-pc-header='preset-10'] .pc-header {
    @apply bg-cyan-500;
  }
  [data-pc-header='preset-11'] .pc-header {
    @apply bg-sky-500;
  }
  [data-pc-header='preset-12'] .pc-header {
    @apply bg-blue-500;
  }
  [data-pc-header='preset-13'] .pc-header {
    @apply bg-indigo-500;
  }
  [data-pc-header='preset-14'] .pc-header {
    @apply bg-violet-500;
  }
  [data-pc-header='preset-15'] .pc-header {
    @apply bg-purple-500;
  }
  [data-pc-header='preset-16'] .pc-header {
    @apply bg-fuchsia-500;
  }
  [data-pc-header='preset-17'] .pc-header {
    @apply bg-pink-500;
  }
  [data-pc-header='preset-18'] .pc-header {
    @apply bg-rose-500;
  }
}
