@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-pc-theme="dark"] *));

@layer utilities {
  @import '../partial/typography';
  @import '../partial/alerts';
  @import '../partial/buttons';
  @import '../partial/badge';
  @import '../partial/breadcrumb';
  @import '../partial/dropdown';
  @import '../partial/forms';
  @import '../partial/card';
  @import '../partial/keyframes';
  @import '../partial/table';
  @import '../layouts/sidebar';
  @import '../layouts/header';
  @import '../layouts/common';
}

@layer {
  @import '../partial/simplebar';
  .container {
    @apply mx-auto max-w-full px-4 sm:max-w-[540px] sm:px-6 md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
  }
  .footer-wrapper.container,
  .pc-content.container {
    @apply mx-auto md:max-w-[540px] lg:max-w-[720px] lg:max-w-[960px] 2xl:max-w-[1140px];
  }
}

@theme {
  --spacing: 4px;
  --spacing-sidebar-width: 264px;
  --spacing-sidebar-width: 264px;
  --spacing-header-height: 74px;
  --spacing-topbar-height: 60px;
  --spacing-sidebar-collapsed-width: 80px;
  --spacing-sidebar-collapsed-active-width: 300px;
  --spacing-sidebar-tab-width: 75px;
  --spacing-sidebar-tab-navbar-width: 320px;

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary: var(--primary-500);

  --text-sm: 0.75rem;
  --text-base: 0.875rem;

  --color-theme-headings: #1d2630;
  --color-theme-bodycolor: #888;
  --color-theme-bodybg: #f4f7fa;
  --color-theme-border: #f1f1f1;
  --color-theme-secondarytextcolor: rgba(33, 37, 41, 0.75);

  --color-theme-sidebarbg: #3f4d67;
  --color-theme-sidebarcolor: #a9b7d0;
  --color-theme-sidebarcaption: #e8edf7;

  --color-theme-lightsidebarbg: #fff;
  --color-theme-lightsidebarcolor: #3f4d67;
  --color-theme-lightsidebarcaption: #3f4d67;

  --color-theme-headerbg: rgba(244, 247, 250, 0.7);
  --color-theme-headercolor: #5b6b79;
  --color-theme-activebg: #f3f5f7;

  --color-theme-horizontalsubmenubg: #fff;
  --color-theme-horizontalsubmenucolor: #5b6b79;

  --color-theme-cardbg: #fff;
  --color-theme-inputbg: #fff;
  --color-theme-inputborder: #bec8d0;

  --color-themedark-headings: rgba(255, 255, 255, 0.8);
  --color-themedark-bodycolor: #bfbfbf;
  --color-themedark-bodybg: #212224;
  --color-themedark-border: #393b3f;
  --color-themedark-secondarytextcolor: #748892;
  --color-themedark-sidebarbg: #2b2c2f;
  --color-themedark-sidebarcolor: #a9b7d0;
  --color-themedark-sidebarcaption: #e8edf7;
  --color-themedark-lightsidebarcolor: #a9b7d0;
  --color-themedark-headerbg: rgba(33, 34, 36, 0.7);
  --color-themedark-headercolor: #6f747f;
  --color-themedark-activebg: #282a2c;
  --color-themedark-horizontalsubmenubg: #393b3f;
  --color-themedark-horizontalsubmenucolor: #bfbfbf;
  --color-themedark-cardbg: #2b2c2f;
  --color-themedark-inputbg: #393b3f;
  --color-themedark-inputborder: #46484c;

  --shadow-sidebarshadow: 1px 0 20px 0 #3f4d67;
  --shadow-lightsidebarshadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);

  --color-secondary-50: #bec6ce;
  --color-secondary-100: #b2bcc5;
  --color-secondary-200: #9ba8b4;
  --color-secondary-300: #8394a2;
  --color-secondary-400: #6d8090;
  --color-secondary-500: #5b6b79;
  --color-secondary-600: #434f59;
  --color-secondary-700: #2b3239;
  --color-secondary-800: #131619;
  --color-secondary-900: #0b0d0f;
  --color-secondary-950: #040506;
  --color-secondary: #5b6b79;

  --color-success-50: #c4f9ec;
  --color-success-100: #b2f7e6;
  --color-success-200: #8df4da;
  --color-success-300: #67f0ce;
  --color-success-400: #42edc2;
  --color-success-500: #1de9b6;
  --color-success-600: #12bc91;
  --color-success-700: #0d896a;
  --color-success-800: #085542;
  --color-success-900: #03221b;
  --color-success-950: #010907;
  --color-success: #1de9b6;

  --color-danger-50: #fee6e4;
  --color-danger-100: #fcd3d1;
  --color-danger-200: #faafaa;
  --color-danger-300: #f88b83;
  --color-danger-400: #f6665d;
  --color-danger-500: #f44236;
  --color-danger-600: #e51a0d;
  --color-danger-700: #b0140a;
  --color-danger-800: #7b0e07;
  --color-danger-900: #460804;
  --color-danger-950: #2b0502;
  --color-danger: #f44236;

  --color-warning-50: #fdf4da;
  --color-warning-100: #fcefc6;
  --color-warning-200: #fae39f;
  --color-warning-300: #f8d879;
  --color-warning-400: #f6cd52;
  --color-warning-500: #f4c22b;
  --color-warning-600: #dca80b;
  --color-warning-700: #a67f09;
  --color-warning-800: #715606;
  --color-warning-900: #3c2d03;
  --color-warning-950: #211902;
  --color-warning: #f4c22b;

  --color-info-50: #e4f6fc;
  --color-info-100: #d1f0fa;
  --color-info-200: #ace4f6;
  --color-info-300: #88d7f2;
  --color-info-400: #63cbee;
  --color-info-500: #3ebfea;
  --color-info-600: #18a8d8;
  --color-info-700: #1281a6;
  --color-info-800: #0d5a73;
  --color-info-900: #073241;
  --color-info-950: #041f27;
  --color-info: #3ebfea;

  --color-dark-50: #73818e;
  --color-dark-100: #6a7783;
  --color-dark-200: #58626d;
  --color-dark-300: #454e56;
  --color-dark-400: #333940;
  --color-dark-500: #212529;
  --color-dark-600: #191c1f;
  --color-dark-700: #121417;
  --color-dark-800: #0e0f11;
  --color-dark-900: #090a0b;
  --color-dark-950: #020303;
  --color-dark: #212529;

  --color-checkbox-bg: var(--checkbox-bg);
  --color-radio-bg: var(--radio-bg);
  --color-select-bg: var(--select-bg);
  --color-select-bg-dark: var(--select-bg-dark);
  --color-switch-bg: var(--switch-bg);
  --color-switch-active-bg: var(--switch-active-bg);
  --color-choice-close-btn: var(--choice-close-btn);
}

:root {
  --primary-50: #b3e6fe;
  --primary-100: #9fe0fd;
  --primary-200: #77d2fd;
  --primary-300: #4ec5fc;
  --primary-400: #26b8fb;
  --primary-500: #04a9f5;
  --primary-600: #0383be;
  --primary-700: #025d87;
  --primary-800: #01374f;
  --primary-900: #001118;
  --primary-950: #070b0d;

  --theme-bg-1: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
  --theme-bg-2: linear-gradient(-135deg, #899fd4 0%, #a389d4 100%);
  --theme-bg-3: linear-gradient(207.92deg, #0398f2 11.42%, #38b9e7 106.55%);
  --checkbox-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --radio-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffffff'/%3e%3c/svg%3e");
  --select-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231d2630' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --select-bg-dark: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23bfbfbf' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  --switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  --switch-active-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
  --choice-close-btn: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
}
