@layer {
  .alert {
    @apply mb-3 rounded-lg border px-5 py-3;
  }

  .alert .alert-link {
    @apply font-bold;
  }

  .alert .alert-heading {
    @apply text-inherit;
  }

  .alert hr {
    @apply border-inherit;
  }

  .alert.alert-dismissible {
    @apply relative pr-10 rtl:pr-5 rtl:pl-12;
  }

  .alert.alert-dismissible [data-pc-dismiss='alert'] {
    @apply absolute top-2 ltr:right-2 rtl:left-2;
  }
  .alert-primary {
    @apply border-primary-500/20 bg-primary-500/20 text-primary-800 dark:text-primary-200;
  }

  .alert-secondary {
    @apply border-secondary-500/20 bg-secondary-500/20 text-secondary-800 dark:text-secondary-200;
  }

  .alert-success {
    @apply border-success-500/10 bg-success-500/10 text-success-800 dark:text-success-200;
  }

  .alert-danger {
    @apply border-danger-500/20 bg-danger-500/20 text-danger-800 dark:text-danger-200;
  }

  .alert-warning {
    @apply border-warning-500/20 bg-warning-500/20 text-warning-800 dark:text-warning-200;
  }

  .alert-info {
    @apply border-info-500/20 bg-info-500/20 text-info-800 dark:text-info-200;
  }

  .alert-dark {
    @apply border-dark-500/20 bg-dark-500/20 text-dark-800 dark:text-dark-200;
  }
}
