@layer {
  h1,
  .h1 {
    font-size: 48px;
    font-weight: 400;
  }
  h2,
  .h2 {
    font-size: 44px;
    font-weight: 400;
  }
  h3,
  .h3 {
    font-size: 26px;
    font-weight: 400;
  }
  h4,
  .h4 {
    font-size: 20px;
    font-weight: 400;
  }
  h5,
  .h5 {
    font-size: 18px;
    font-weight: 400;
  }
  h6,
  .h6 {
    font-size: 14px;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply text-theme-headings dark:text-themedark-headings leading-[1.2];
  }
  body {
    @apply text-theme-bodycolor dark:text-themedark-bodycolor bg-theme-bodybg dark:bg-themedark-bodybg text-base leading-normal;
  }
  b,
  strong {
    @apply font-normal;
  }
  .text-muted {
    @apply text-theme-secondarytextcolor dark:text-themedark-secondarytextcolor;
  }
}
